<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="10.3.1" targetFramework="net481" />
  <package id="Sitecore.Mvc.Analytics" version="10.3.1" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
</packages>